<!-- 顶部导航栏 -->
<header id="main-header" class="z-50">
    <div class="header-trigger">
        <iconify-icon icon="carbon:menu" width="20" id="menu-icon"></iconify-icon>
    </div>

    <div class="header-content">
        <nav class="nav-links">
            <a href="#home" class="nav-link text-sm font-medium hover:text-blue-400">
                <iconify-icon icon="carbon:home"></iconify-icon>
                首页
            </a>
            <div class="nav-divider"></div>
            <a href="#languages" class="nav-link text-sm font-medium hover:text-blue-400">
                <iconify-icon icon="carbon:code"></iconify-icon>
                技术栈
            </a>
            <div class="nav-divider"></div>
            <a href="#projects" class="nav-link text-sm font-medium hover:text-blue-400">
                <iconify-icon icon="carbon:portfolio"></iconify-icon>
                作品
            </a>
            <div class="nav-divider"></div>
            <a href="#blog" class="nav-link text-sm font-medium hover:text-blue-400">
                <iconify-icon icon="carbon:blog"></iconify-icon>
                博客
            </a>
            <div class="nav-divider"></div>
            <a href="#about" class="nav-link text-sm font-medium hover:text-blue-400">
                <iconify-icon icon="carbon:user"></iconify-icon>
                关于
            </a>
        </nav>
    </div>
</header> 